@page
@model Bookshelf.Pages.OrderCompletedModel
@{
}

<div class="text-center">
    <h2>Your order has been made. Thank you!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>

</div>
